/*Nav/Header Section*/

body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	padding-left: 25px;	
	padding-right: 25px;
}


h1, h2, h3, h4, h5, h6 {
	margin:  0;
}


.top-nav-background-image {
	background-image: url('../images/girl-in-green-tshirts-1500x1000.jpg');
	min-height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.main-nav-container {
	display: flex;
	justify-content: flex-end;
	margin: 100px;
	width:  auto;
}

.main-nav {
	overflow: hidden;
}


.navbar-element {
	color:  white;
	text-align:  center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.button-make-a-gift-text {
	background-color: #AF2C10;
	color: white;
	cursor: pointer;
	font-size:  22px;
	margin: 20px 20px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	width: 160px;
	padding: 15px;
	border:  none;
}

.modal {
	position: fixed;
  	top: 15%;
  	left: 45%;
  	z-index: 100;
  	visibility: visible;
  	opacity: 100%;
  	transition: 0.5s ease-out;
  	transform: translateY(45px);
  	display: none;
  	align-items: center;
  	justify-content: center;
}

.donation-box {
	width: 800px;
	height: 600px;
	background-color: #F5F5F5;
	opacity: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	transition: all 0.15s ease-out;
	margin-bottom: 200px;
	
}


.form-title {
	background-color: #dbbf7f;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 17px;
}

.donation-box .donate-button {
	background-color: #dbbf7f;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .form_fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 60px;
	left: 15px;
}

.donation-box .form_fields input {
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0;
	color: #5C5C5C;
	margin-bottom: 10px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
	right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color: gray;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	padding: 15px 0 15px 0;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
}

.donation-box .amount .button:hover {
	background-color: #dbbf7f;
}

.donation-box .amount .button.selected {
	background-color: #b5a076;
}

.donation-box .amount .button input {
	background-color: transparent;
	border: none;
	border-bottom: 2px dashed white;
	color: white;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	min-width: 34px;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 96px;
}

.checkboxes {
	position: absolute;
	top: 400px;
	right: 15px;
	width:  240px;
}

.checkboxes label {
	position: relative;
	top: -2px;
	font-size: 15px;
	color: gray;
	border: 2px red;
}

.checkbox {
	background-color: #b5a076;
	border: 1px solid black;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	transition: all 0.15s ease-out;
}

.checkbox:active.checkbox:checked:active {
	
}

.checkbox:checked {
	background-color: #b5a076;
	border: 1px solid #b5a076;
	color: white;
}

.checkbox:checked:after {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 3px;
	color: white;
}

.confirm {
	position: absolute;
	top: 550px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	transition: all 0.15s ease-out;
	
}

.confirm span {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}


.gpa-main-nav-header-text {
	position: absolute;
	bottom:  0;
	right:  5px;
	color:  white;
	font-size:  55px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.all-containers {
	padding-top: 20px;
	padding-left: 30px;
	width: 100%;
}


.text-only-container {
	margin-left: 50px;
	padding-top: 35px;
	padding-left: 200px;
	padding-bottom: 50px;
	width: 600px;
}

.paragraph-style {
	display: block;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.all-buttons {
	background-color: #b5a076;
	border: none;
	color:  white;
	cursor: pointer;
	font-size:  16px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	width:  150px;
	padding: 10px;
}

.all-buttons:hover {
	background-color:#dbbf7f;
}


.container {
	display: flex;
	align-items: center;
    margin-bottom: 50px;
    position: relative;
    justify-content: space-evenly;
}


.container-left {
	padding: 15px;
	width: 600px;
}

.container-right {
	margin-left: 290px;
}

.container-image {
	display: block;
	margin-left:220px;
}

.container-image-start {
  display: hidden;
}  

.container-image-animation {
  animation: photos ease-in 2s;
  display: block;
}

@keyframes photos {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.container-paragraph {
	display: block;
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 600px;
} 

.contact-image {
	background-image: url('../images/boy-taking-notes-1500x800.jpg');
	min-height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 25px;
	margin: 0;
}

.contact-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #59564f;
	color: white;
	padding:  10px;
	line-height: 1em; 
	height: 50px;
}

span {
	text-decoration: none;
	color:  white;
}
.contact-lists {
	Display:  flex;
	justify-content: space-evenly;
	font-size: 14px;
	padding:  10px;
}

.mail-address {
	text-decoration: none;
	color:  white;
}

/*donation_thank_you.html CSS*/


.thank-you-left {
	padding: 20px 0 0 0;
	width: 100%;
}
.ty-top-image {
	background-image: url('../images/a_girl_smiling_1500x900.jpg');
	min-height: 750px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	}

.thank-you-text {
	padding: 25px 0 0 25px;

}

.ty-container-paragraph {
	display: block;
	padding: 0 0 0 0;
	width: 1500px;
	/*border:  2px solid black;*/
} 

.thank-you-button {
	background-color: #b5a076;
	border: none;
	color:  white;
	cursor: pointer;
	font-size:  16px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	width:  150px;
	padding: 10px;
}

/*Response Design for mobil size*/

@media only screen and (max-width: 768px){

.gpa-main-nav-header-text {
	position: absolute;
	bottom:  0;
	right:  5px;
	color:  white;
	font-size:  40px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.main-nav-container {
/*	display: flex;
	justify-content: space-around;*/
	margin: 100px;
	width:  auto;
}

.navbar-element {
	display: flex;
	justify-content: space-around;
	color:  white;
	text-align:  center;
	padding: 10px 14px;
	text-decoration: none;
	font-size: 16px;
}

.button-make-a-gift-text {
	background-color: #AF2C10;
	color: white;
	cursor: pointer;
	font-size:  20px;
	margin: 20px 20px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	width: 160px;
	padding: 15px;
	border:  none;
}

.all-containers {
	padding-top: 10px;
	padding-left: 0;
	padding-bottom: 20px;
	max-width: 100%;
}


.text-only-container {
	margin-left: 0px;
	padding: 0px;
	max-width: 100%;
}


.container {
	display: block;
	align-items: center;
  margin-left: 0px;
  max-width: 100%;
}


.container-left {
	padding: 20px 0 0 0;
	max-width: 100%;
}

.container-right {
	margin: 0;
	padding: 20px 0 0 0;
	max-width: 100%;
}

.container-image {
	display: flex;
	max-width: 100%;
}

.container-image-animation {
  animation: photos ease-in 2s;
  display: block;
  max-width: 100%;
  height: auto;
}

.container-paragraph {
	display: block;
	white-space: pre-wrap;
	word-wrap: break-word;
	/*width: 600px;*/
	max-width: 100%;
} 

.contact-image {
	background-image: url('../images/boy-taking-notes-1500x800.jpg');
	/*min-height: 800px;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 25px;
	padding-top: 20px;
	margin: 0;
	max-width: 100%;
}

/*Modal CSS*/

.modal {
	position: fixed;
  	top: 5%;
  	left: 5%;
  	z-index: 100;
  	visibility: visible;
  	opacity: 100%;
  	transition: 0.5s ease-out;
  	transform: translateY(45px);
  	display: none;
  	align-items: center;
  	justify-content: center;
}

.donation-box {
	width: 90vw;
	height: 600px;
	background-color: #F5F5F5;
	opacity: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	transition: all 0.15s ease-out;
	margin-bottom: 200px;
	
}

.checkboxes {
	position: absolute;
	top: 400px;
	right: 15px;
	width: 180px;
}

.checkboxes label {
	position: relative;
	top: -1px;
	font-size: 13px;
	color: gray;
}

.checkbox {
	background-color: #b5a076;
	border: 1px solid black;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	transition: all 0.15s ease-out;
}

.contact-container {
	position: fixed;
	width: 100%;
	background-color: #59564f;
	color: white;
	padding:  10px 0 0 0;
	line-height: 1em; 
	height: 50px;
}

.thank-you-left {
	padding: 20px 0 0 0;
	width: 100%;
}
.ty-top-image {
	background-image: url('../images/a_girl_smiling_1500x900.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	position: relative;
	}

.thank-you-text {
	padding: 25px 0 0 25px;

}

.ty-container-paragraph {
	display: block;
	padding: 0 0 0 0;
	max-width: 100%;
} 

.thank-you-button {
	background-color: #b5a076;
	border: none;
	color:  white;
	cursor: pointer;
	font-size:  16px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	width:  150px;
	padding: 10px;
}

.contact-lists {
	Display:  flex;
	font-size: 12px;
	padding:  0;
	text-decoration: none;
	color: white;	
}


.mail-address {
	text-decoration: none;
	color:  white;
}
}
